<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
</head>
<body>
<h1>Actualizar Jugador</h1>
<form th:action="@{/jugadores/guardar}" th:object="${jugador}" method="post">
    <input type="hidden" th:field="*{id}">

    <label>Nombre:</label>
    <input type="text" th:field="*{nombre}" required>
    <br><br>

    <label>Posición:</label>
    <input type="text" th:field="*{posicion}" required>
    <br><br>

    <label>Número:</label>
    <input type="number" th:field="*{numero}" required>
    <br><br>

    <input type="submit" value="Actualizar">
    <a th:href="@{/jugadores}">Cancelar</a>
</form>
</body>
</html>